body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('download.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#game{
    border: 10px white solid;
    border-radius: 20px;
}